div.offset1
      span Sample count: {{samples.length}}
div.offset1.sample(ng-repeat='sample in samples')
        div.row
            h4.pull-left ID:
            p.pull-left.name {{sample._id}}
        div.row
            h4.pull-left Name: 
            p.pull-left.name {{sample.name}}
        div.row
            h4.pull-left Data: 
            p.pull-left.data {{sample.data}}
        div.row
            a.btn-danger.btn-small.delete_sample(ng-click='deleteSample(sample._id)') Delete