extends layout

block body
	div.container
		h2 Express Base
		ul
			ul 
				a(href='/') Home
			ul
				a(href='/newSample') Add new sample data

		div(ng-view)

	script(src='javascripts/lib/angular/angular.min.js')
	script(src='javascripts/app.js')
	script(src='javascripts/services.js')
	script(src='javascripts/controllers.js')
	script(src='javascripts/filters.js')
	script(src='javascripts/directives.js')