!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Express Base
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body