body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete_sample {
	margin-left: 10px;
}

.edit_sample {
	margin-left: 10px;
}

.name {
	padding-left: 10px;
	margin-top: 10px;
}

.data {
	padding-left: 10px;
	margin-top: 10px;
}

.sample {
	margin-top: : 25px;
	margin-bottom: 25px;
}